<!DOCTYPE html>
<html>
<head lang="pt-br">
	<meta charset="utf-8">
	<title>Lucas Sousa</title>
	<link rel="stylesheet" type="text/css" href="static/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
	<section class="hero is-medium is-bold">
	    <div class="hero-head">
	        <nav class="navbar has-background-dark is-link is-fixed-top">
	            <div class="navbar-brand">
	                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
	                    <span></span>
	                    <span></span>
	                    <span></span>
	                </div>
	            </div>

	            <div id="navbarExampleTransparentExample" class="navbar-menu">
	                <div class="navbar-end">
	                    <a class="navbar-item" href="{% url 'website:index' %}">
	                        <span class="icon">
	                            <i class="fas fa-home"></i>
	                        </span>
	                        <span>Home</span>
	                    </a>
	                    <a class="navbar-item" href="/#services">
	                        <span class="icon">
	                            <i class="fas fa-bars"></i>
	                        </span>
	                        <span>Sobre Lucas</span>
	                    </a>
	                    <a class="navbar-item" href="{% url 'website:list_notices' %}">
	                        <span class="icon">
	                            <i class="fas fa-file-alt"></i>
	                        </span>
	                        <span>Experiências</span>
	                    </a>
	                    <a class="navbar-item" href="{% url 'website:list_products' %}">
	                        <span class="icon">
	                            <i class="fas fa-box-open"></i>
	                        </span>
	                        <span>Trabalhos</span>
	                    </a>
	                    <a class="navbar-item" href="/#contact">
	                        <span class="icon">
	                            <i class="fas fa-envelope"></i>
	                        </span>
	                        <span>Contato</span>
	                    </a>
	                </div>
	            </div>
	        </nav>
	    </div>
	</section>
	

	<footer class="footer has-background-black" style="bottom:0px !important;">
        <div class="container">
            <div class="content has-text-centered">
                <div>
                    <a href="https://github.com/lucasousa"><i class="fab fa-github-alt fa-2x"></i></a> 
                </div>
                <div class="has-text-centered has-text-light">
                    &copy; 2020 - Desenvolvido por <span class="icon is-small has-text-danger">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                    </span> <a href="https://www.instagram.com/lucasousa54/" target="_blank">Lucas Sousa</a>
                    </br>
                    Icons - <a href="https://fontawesome.com/" target="_blank">FontAwesome</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>