@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Monda&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');

body {
    margin: 0;
    padding: 0;
}

#title-logo{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
}

/*Desktop*/

@media screen and (min-width: 1024px) {
    .container-text{
        width: 60%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .container-text p{
        font-size: 13pt;
    }
    .image-initial{
        margin-top: 40px !important;
        margin-bottom:50px;
    }
    .image-menu{
        height: 500px !important;
        width: 800px !important;
        margin: auto;
    }
    .contrast{
        font-size: 18pt !important;
        font-weight: bold;
   }
   .info-site-business{
        margin-top: 100px !important;
        padding-top: 60px;
   }
   .image-show-business{
        width: 400px;
        height: 400px;
    }
}


/* Mobile */

@media screen and (max-width: 767px) {
    #menu-photo {
        padding-top: 20px;
    }
    .image-initial{
        margin-top: 40px !important;
        margin-bottom:50px;
    }
   .list-text-info-site{
        margin-top:-50px !important; 
   }
   .info-site-business{
        font-size: 10pt !important;
        margin-top: 25px !important;
        padding-left: 20px !important;
   }
   .contrast{
        font-size: 14pt !important;
        font-weight: bold;
   }
   .text-initial{
        font-size: 10pt;
        padding: 15px !important;
   }
   .list-text-info-site{
        width: 70% !important;
        margin-top: 30px !important;
   }
}


/*Tablet*/
@media screen and (max-width: 1023px) {
    #menu-photo {
        padding-top: 20px;
    }
    .image-initial{
        margin-top: 40px !important;
        margin-bottom:50px;
    }
}

.navbar {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}


.footer {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    background-color: #FFF;
}

.icon-menu-burguer {
    margin-top: 1rem;
    margin-left: 1rem;
}

.image-lucas {
    height: 160px;
    width: 160px;
    margin-top: 120px;
    margin-bottom: 1rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-lucas:hover{
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
}

.social-medias {
    padding-top: 20px;
}

.social-medias i {
    padding: 7px;
}

.container-text {
    margin: 30px;
    text-align: justify;
}

.space-title {
    margin-top: 30px;
}

.container-work {
    border-radius: 10px !important;
    margin-bottom: 1rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.container-work:hover{
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
    -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.image-work {
    max-width: 100%;
    object-fit: cover !important;
    width: 100% !important;
    height: 250px !important;
    border-radius: 5px !important;
}

.info-rodape {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: bold;
}

.works{
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-lucas{
    font-family: 'Jura', sans-serif;
    font-size: 10pt;
}

.biograph{
    font-family: 'Jura', sans-serif;
    font-size: 8pt;
}

.name-lucas{
    font-weight: bold;
    font-size: 12pt;
}

h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt !important;
}

#about-me{
    background-image: url('../img/2927262.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.info-site-business{
    font-size: 16pt;
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
}

.space-title{
    padding-bottom: 40px;
}

.space-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.burger{
    transition: 5s !important;
}



.list-content-site{
    margin: auto;
}

.image-service{
    max-width: 100%;
    width: 80% !important;
    height: 200px !important;
    border-radius: 5px !important;
}

.info-service{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10pt;
}

h4{
    font-family: 'Titillium Web', sans-serif;
    font-size: 12pt;
}