@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
}


/*Desktop*/

@media screen and (min-width: 1024px) {}


/* Mobile */

@media screen and (max-width: 767px) {
    #menu-photo {
        padding-top: 20px;
    }
}


/*Tablet*/

@media screen and (max-width: 1023px) {}

.navbar {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.footer {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    background-color: #FFF;
}

.icon-menu-burguer {
    margin-top: 1rem;
    margin-left: 1rem;
}

.image-lucas {
    height: 160px;
    width: 160px;
    margin-top: 120px;
    margin-bottom: 1rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-lucas:hover{
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
}

.social-medias {
    padding-top: 20px;
}

.social-medias i {
    padding: 3px;
}

.container-text {
    margin: 30px;
    text-align: justify;
}

.space-title {
    margin-top: 30px;
}

.container-work {
    border-radius: 10px !important;
    margin-bottom: 1rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.container-work:hover{
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
    -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.image-work {
    max-width: 100%;
    object-fit: cover !important;
    width: 250% !important;
    height: 250px !important;
    border-radius: 5px !important;
}

.info-rodape {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: bold;
}

.works{
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-lucas{
    font-family: 'Jura', sans-serif;
    font-size: 10pt;
}

.biograph{
    font-family: 'Jura', sans-serif;
    font-size: 8pt;
}

.image-initial{
    margin-top: 30px;
    margin-bottom:50px;
}

.name-lucas{
    font-weight: bold;
    font-size: 12pt;
}